torch==2.14.0
torchvision==0.29.0
ultralytics==8.4.165
onnx==1.23.1
onnxruntime==1.30.0
matplotlib>=3.3
pyyaml>=5.3.1
requests>=2.23
psutil>=5.8
polars>=0.20
nvidia-ml-py>=12
ultralytics-thop>=2.2
ultralytics-platform>=0.1.45
cloudpickle>=3.1.1
